body {
  font-family: "Raleway", sans-serif;
  color: #333333; }

h1, h2, h3, h4, h5 {
  font-family: "IM Fell DW Pica SC", serif; }

a {
  color: #5c7a6a;
  text-shadow: 1px 1px 3px #a6ada7; }

section.hero {
  height: 600px;
  background-image: url("../imgs/dead-trees.jpg");
  background-size: 100% auto;
  background-position: 50% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  section.hero h1 {
    font-size: 4em;
    text-shadow: 1px 1px 10px #5c7a6a; }
  section.hero .subtitle {
    font-size: 1.5em; }
  section.hero p {
    margin-bottom: .3em;
    text-shadow: 1px 1px 10px #aebfaf; }

form {
  display: flex;
  margin-top: 1em; }
  form input {
    font-size: 16px;
    padding: .5em;
    border-radius: 5px;
    border: 0; }
    form input[type="text"] {
      width: 300px;
      flex-shrink: 1; }
    form input[type="submit"] {
      border: 0;
      background-color: #b6dea9;
      color: #333333;
      margin-left: 1em; }

section.main {
  background-color: #aebfaf;
  display: flex;
  justify-content: center; }

.content {
  width: 1000px;
  margin-top: 3em; }

.thumb-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 3em;
  background-color: #a6ada7;
  padding: 1em;
  box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.16); }
  .thumb-row:nth-child(even) {
    flex-direction: row-reverse; }
    .thumb-row:nth-child(even) .polaroid {
      transform: rotate(2deg); }
  .thumb-row .row-content {
    padding: 3em;
    font-size: 1.2em; }
    .thumb-row .row-content ul {
      margin-bottom: 1em; }
    .thumb-row .row-content li {
      list-style: disc;
      margin-left: 1.5em; }
    .thumb-row .row-content p:not(:last-child) {
      margin-bottom: 1em; }

.polaroid {
  background-color: #f0efe8;
  box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.16);
  height: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-1deg);
  -webkit-box-shadow: inset 0px 0px 32px 2px #c9c5ab;
  -moz-box-shadow: inset 0px 0px 32px 2px #c9c5ab;
  box-shadow: inset 0px 0px 32px 2px #c9c5ab; }
  .polaroid img {
    width: 300px;
    height: 80%;
    border: 1px solid #333333; }
  .polaroid figcaption {
    padding-top: 2em;
    padding-bottom: 1em;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: 1.5em; }

.footer {
  background-color: #aebfaf;
  text-align: center;
  padding: 2em 0; }

@media screen and (max-width: 1024px) {
  section.hero {
    height: 600px; }
    section.hero h1 {
      font-size: 6em; }
    section.hero .subtitle {
      font-size: 3.5em; }
    section.hero p {
      font-size: 3em; }
    section.hero input {
      font-size: 3em; }
    section.hero input[type="submit"] {
      margin-top: .5em; }
  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    form input {
      font-size: 42px; }
      form input[type="text"] {
        width: 100%; }
      form input[type="submit"] {
        margin-top: .5em;
        width: 90%;
        margin: 0; }
  .content {
    margin: 0;
    width: 100%; }
  .thumb-row {
    margin: 3em;
    flex-wrap: wrap;
    padding-top: 2.5em; }
    .thumb-row .row-content {
      padding: 2em; }
    .thumb-row .polaroid {
      margin-left: auto;
      margin-right: auto; }
      .thumb-row .polaroid figcaption {
        font-size: 3em;
        padding-top: .5em;
        padding-bottom: 0; } }
