// VARIABLES
// colors
$tea-green: #ceebd1;
$moss-green: #b6dea9;
$green: #5c7a6a;
$ash-grey: #aebfaf;
$silver: #a6ada7;
$white: #ffffff;
$black: #333333;

$dirty-polaroid: #f0efe8;

// fonts
$raleway: 'Raleway', sans-serif;
$im-fell-dw: 'IM Fell DW Pica SC', serif;

$body-font: $raleway;
$title-font: $im-fell-dw;

// BASE
body {
  font-family: $body-font;
  color: $black;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

// PAGE

// hero image
section.hero {
  height: 600px;
  background-image: url("../imgs/dead-trees.jpg");
  background-size: 100% auto;
  background-position: 50% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  h1 {
    font-size: 4em;
    text-shadow: 1px 1px 10px $green;
  }

  .subtitle {
    font-size: 1.5em;
  }

  p {
    margin-bottom: .3em;
    text-shadow: 1px 1px 10px $ash-grey;
  }
}

// newsletter forms
form {
  display: flex;
  margin-top: 1em;

  input {
    font-size: 16px;
    padding: .5em;
    border-radius: 5px;
    border: 0;

    &[type="text"] {
      width: 300px;
      flex-shrink: 1;
    }

    &[type="submit"] {
      border: 0;
      background-color: $moss-green;
      color: $black;
      margin-left: 1em;
    }
  }
}

// main content
section.main {
  background-color: $ash-grey;
  display: flex;
  justify-content: center;
}

.content {
  width: 1000px;
  margin-top: 3em;
}

.thumb-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 3em;
  background-color: $silver;
  padding: 1em;
  box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.16);

  &:nth-child(even){
    flex-direction: row-reverse;

    .polaroid {
      transform: rotate(2deg);
    }
  }

  .row-content {
    padding: 3em;
    font-size: 1.2em;

    ul {
      margin-bottom: 1em;
    }

    li {
      list-style: disc;
      margin-left: 1.5em;
    }

    p:not(:last-child){
      margin-bottom: 1em;
    }
  }
}

.polaroid {
  background-color: $dirty-polaroid;
  box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.16);
  height: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-1deg);
  -webkit-box-shadow: inset 0px 0px 32px 2px rgba(201,197,171,1);
-moz-box-shadow: inset 0px 0px 32px 2px rgba(201,197,171,1);
box-shadow: inset 0px 0px 32px 2px rgba(201,197,171,1);

  img {
    width: 300px;
    height: 80%;
    border: 1px solid $black;
  }

  figcaption {
    padding-top: 2em;
    padding-bottom: 1em;
    font-family: $title-font;
    font-size: 1.5em;
  }
}

// mobile

@media screen and (max-width: 1024px) {
  section.hero {
    height: 600px;

    h1 {
      font-size: 6em;
    }

    .subtitle {
      font-size: 3.5em;
    }

    p {
      font-size: 3em;
    }

    input {
      font-size: 3em;
    }

    input[type="submit"] {
      margin-top: .5em;
    }
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;  justify-content: center;
    align-items: center;

    input {
      font-size: 42px;

      &[type="text"] {
        width: 100%;
      }

      &[type="submit"] {
        margin-top: .5em;
        width: 90%;
        margin: 0;
      }
    }
  }

  .content {
    margin: 0;
    width: 100%;
  }

  .thumb-row {
    margin: 3em;
    flex-wrap: wrap;
    padding-top: 2.5em;

    .row-content {
      padding: 2em;
    }

    .polaroid {
      margin-left: auto;
      margin-right: auto;

      figcaption {
        font-size: 3em;
        padding-top: .5em;
        padding-bottom: 0;
      }
    }
  }
}
